@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700')

body
  font-family $secondaryFont !important

h1, h2, h3, h4, h5, h6
  font-family: $primaryFont, sans-serif

.content
  pre
    code
      color: #f8c555 !important

  code
    color: #932f12 !important
