$accentColor = #CF6A4C
$textColor = #5F5A60
$borderColor = #e7e7e7
$codeBgColor = #1E1E1E
$arrowBgColor = #CF6A4C

$primaryFont = 'Miriam Libre'
$secondaryFont = -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
